body {
    padding: 0%;
    margin: 0%;
    background-color: #131313;  
}

#preventOverflow {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

html::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    position: fixed;
    background-color: #131313;
    z-index: 10;
    overflow: hidden;

}

.navBar {
    display: flex;
    justify-content: space-around;
    width: 55%;
    flex-direction: column;
}

.CompanyLogo {
    color: rgb(199, 199, 199);
    margin-left: 1%;
    border: solid red 1px;
}

.navLink {
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-size: 2.6vw;
    width: 100%;
    padding: 1vw;
}

.navLink:hover {
    background-color: #888888;
}

.navImg {
    width: 100%;
}

.formHolder {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#d3d3d3, #000);
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vw;
    height: 70vh;
    width: 60vh;
    align-items: center;
    cursor: pointer;
    border: solid 1px white;
}

.signUpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vw;
    margin: 5vw 2vw 2vw 2vw;
    height: 85vh;
    width: 60vh;
    border: solid #fff 1px;
    align-items: center;
    cursor: pointer;
}

.inputForms {
    margin: 1vw 4vw 1vw 4vw;
    height: 2.5vw;
    font-size: 2vw;
    border: none;
    border-bottom: solid 1px #131313;
    background: none;
}

.inputForms:focus {
    outline: none;
    background-color: transparent;
}

.inputForms:active {
    background-color: transparent;
}

.LoginTitle {
    text-align: center;
    color: white;
    margin: 5vh 2vh 6vh 2vh;
}

.inputLabel {
    color: #2D3142;
    width: 80%;
}

.submitBtn {
    margin: 5vh 5vh 5vh 5vh;
    border: none;
    background: none;
    color: rgb(199, 199, 199);
    width: 40%;
    height: 5vw;
    border-radius: 2vw;
    font-size: 2vw;
    border: solid white 1px;
}

.logText {
    font-size: 1.6vw;
}

.loginText {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

#accountSettings {
    background: linear-gradient(#131313, #888888);

}

.accountInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accountSettings {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 3vh;
}

.DiscoverSettings {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.accountTitle {
    margin-top: 5vw;
    color: rgb(199, 199, 199);
}

.DiscTitle {
    margin-top: 10vh;
    color: rgb(199, 199, 199);
    cursor: pointer;
}

.accountDisplay {
    text-align: center;
    color: rgb(199, 199, 199);
}

#centerAccount {
    margin: 0vh 15vw;
}

.accountBtns {
    margin-top: 1vw;
    padding: 10px 15px;
    background-color: #888888;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.2vw;
    width: 10vw;
    height: 7vh;
}

.accountBtns:hover {
    background-color: #2D3142;
}

.accountBtns:focus {
    border: black 1px solid;
    outline: none;
    background-color: #2D3142;
}

.accountPFP {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accountPFPDiv {
    width: 12vw;
    height: 12vw;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

/* CSS */
#customFileInput {
    display: inline-block;
    padding: 10px 15px;
    background-color: #888888;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vw;
}

#customFileInput:hover {
    background-color: #2D3142;
}

#customFileInput:focus,
#submitPFPChange:focus {
    background-color: #2D3142;
    border: black 1px solid;
    outline: none;
}

#submitPFPChange {
    margin-top: 1vw;
    padding: 10px 15px;
    background-color: #888888;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#submitPFPChange:hover {
    background-color: #2D3142;
}

.friendProfilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#fileForm {
    display: flex;
    flex-direction: column;
}


#LogOutBtn {
    font-size: 2.6vw;
    margin-top: 10vw;
    border: solid 1px #131313;
    border-radius: 2vw;
    padding: 1vw 2vw;
    color: #131313;
    cursor: pointer;
}

#DeleteAccBtn {
    font-size: 2.6vw;
    border: solid 1px #131313;
    border-radius: 2vw;
    padding: 1vw 2vw;
    color: #131313;
    background-color: #b86363;
    cursor: pointer;
}


.NCholder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    background: linear-gradient(#131313, #888888);
    flex-direction: column;
}

.NCTitle {
    font-size: 2.6vw;
}

.NCForm {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

#usernameInput {
    background: none;
    border: none;
    border-bottom: solid 1px #d3d3d3;
    box-shadow: none;
    font-size: 2vw;
    margin-top: 5vh;
}

#usernameInput:focus {
    outline: none;
}

.contactRequests {
    width: 80%;
    margin-bottom: 10vh;
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.requestBtns {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #131313;
}

.acceptRequest {
    font-size: 4vw;
    background-color: lightgreen;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;

}

.declineRequest {
    font-size: 4vw;
    background-color: red;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;

}

.requestTitle {
    width: 100%;
    text-align: center;
}

.ContactsHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.contactDiv {
    width: 25%;
    color: #d3d3d3;
    background-color: #2D3142;
    padding-bottom: 10vh;
    overflow-y: scroll;
    position: relative;
    max-height: 100vh;
}

.Contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2D3142;
    flex-direction: row;
    max-height: 10vh;
    align-items: center;
    margin: .5vw 0vw;
}
.firstContact{
    margin-top: 2vw;
}
.contactDiv::-webkit-scrollbar {
    width: 0%;
    display: none;
}

.friendOption {
    margin: 0%;
    padding: .5rem;
    cursor: pointer;
    font-size: 1.7vw;
}

.friendOption:hover {
    opacity: .7;
}

.contactTitle {
    text-align: left;
    font-size: 1.5vw;
    height: auto;
    margin: 0%;
    width: 90%;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    white-space: normal;
    padding: 1rem;

}

.contactTitle:focus {
    border: none;
    outline: none;
}

#downArrow {
    position: fixed;
    bottom: 0%;
    left: 9%;
    opacity: .5;
    display: none;
}

.messageHolder {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 100vh;
    justify-content: end;
    padding: 0%;
}

.messageHolder::-webkit-scrollbar {
    background-color: transparent;
}

.messageHolder::-webkit-scrollbar-thumb {
    background-color: #2D3142;
    border-radius: 2vw;
}

.message {
    margin: .5vw 2vw .5vw 2vw;
    border: solid white 1px;
    padding: 0vw 1vw 0vw 1vw;

}

.messageSender {
    font-size: 1.3vw;
    color: #b86363;
    margin-left: .7vw;
}

.messageText {
    font-size: 1.5vw;
    margin-left: 2vw;
    color: #888888;
}

.chatOption {
    margin: 0%;
    padding: 0%;
    width: 2vw;

}

.userInfoMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .3vw;
    cursor: pointer;
}

.messageSenderDiv {
    display: flex;
    align-items: center;
    margin: .3vw;
}

.userMessagePFP {
    width: 2vw;
    height: 2vw;
}

.TextMessage {
    display: flex;
    justify-content: row;
    height: 5vw;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

#personalMessage {
    background-color: #212227;
    color: #888888;
    height: 5vw;
    width: 85%;
    margin: .5vw 1vw .5vw 2vw;
    resize: none;

}

#sendIcon {
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 4vw;
    margin: .5vw;
}
.closeArrow{
    display: none;
}

.FileAttachment {
    width: 5vw;
    margin: 1vw;
    padding: 0%;
}

#userBio {
    background: #2D3142;
    border: none;
    border-radius: 1vw;
    color: white;
    padding: 1vw;
    width: 50%;
    resize: none;
}

#userBio::-webkit-scrollbar {
    display: none;
}

#submitBio {
    margin-top: 5vw;
    padding: 1vw 1.5vw 1vw 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#checked {
    opacity: 0;
    position: absolute;
}

#checked+label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

#checked+label::before {
    content: "";
    width: 6em;
    height: 3em;
    background-color: rgb(89, 89, 89);
    background-color: rgb(70, 70, 70);
    border-radius: 3em;
    transition: 200ms ease-in-out;
}

#checked+label::after {
    position: absolute;
    left: .3em;
    content: "";
    width: 2.7em;
    height: 2.7em;
    background-color: rgb(45, 45, 45);
    border-radius: 3em;
    transition: 200ms ease-in-out;
}

#checked:checked+label::after {
    transform: translateX(100%);
    background-color: rgb(80, 80, 80);
}

#checked:checked+label::before {
    background-color: rgb(89, 89, 89);
}

#checked:focus+label {
    border: solid black 2px;
    border-radius: 3em;
}

.accountUnderText {
    color: #888888;
    position: fixed;
    font-size: 1vw;
    opacity: 0;
    padding: .8vw;
    min-width: 10vw;
    background-color: #131313;
    pointer-events: none;
    z-index: 99;
}

#discoverBtn {
    text-align: center;
    border: solid #fff 1px;
    border-radius: 2vw;
    color: white;
    font-weight: 100;
    padding: 1.4vw .7vw 1.4vw .7vw;
    font-size: 2.6vw;
    cursor: pointer;
}

.discoverHolder {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 5vw;
    flex-wrap: wrap;
}

.discoveredUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vw;
    width: 80%;
    background-color: #2D3142;
    padding: 2vw;
    border-radius: 2vw;
}

.headerHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.discoverAdd {
    border: solid white 1px;
    padding: 0vw 1.3vw 0vw 1.3vw;
    border-radius: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.discoverTitle {
    font-size: 2.3vw;
}

.discoverName {
    font-size: 4vw;
}

/* Style for the custom context menu */
.customMenu {
    position: absolute;
    background-color: #212227;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
    color: #888888;
}

.customMenuItem {
    padding: 8px 12px;
    cursor: pointer;
}

.customMenuItem:hover {
    background-color: #888888;
    color: #2D3142;
}

.submitAddGroup {
    margin: 1vw auto 1vw auto;
    background-color: #888888;
    color: #2D3142;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.submitAddGroup:hover {
    background-color: #2D3142;
    color: #888888;
}

#friendMenu {
    position: fixed;
    background-color: #212227;
    top: 0%;
    display: none;
    flex-direction: column;
    color: #888888;
    font-size: 1vw;
    max-height: 40vh;
    overflow-y: scroll;
}

#friendMenu::-webkit-scrollbar {
    background-color: #2D3142;
    border-radius: 2vw;
}

.friend {
    position: relative;
    display: flex;
    width: 15vw;
    padding: 1vw;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-size: .8vw;
    cursor: pointer;
    user-select: none;
}

.friendMenuName {
    margin: 0%;
}

.usercheck {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox {
    display: flex;
    width: 2vw;
    height: 2vw;
    background-color: #2D3142;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    opacity: .3;
    border: solid white 1px;
    user-select: none;
    color: #fff;
}

/* Corrected selector to style the custom checkbox when the actual checkbox is checked */
.usercheck:checked+.customCheckboxStyle .custom-checkbox {
    background-color: red;
    /* Adjusted style for the checked state */
    opacity: 1;
}

.friendPageHolder {
    display: flex;
    padding-left: 5vw;
    padding-top: 5vh;
}

.friendsHolder {
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 95vh;
    overflow-y: scroll;
}

.friendsHolder::-webkit-scrollbar {
    background: none;
}

.friendsHolder::-webkit-scrollbar-thumb {
    background: #2D3142;
    border-radius: 5vw;
}

.friendDiv {
    display: flex;
    align-items: center;
    min-height: 20vh;
    overflow: hidden;
    background-color: #212227;
    width: 95%;
    padding-left: 1vw;
    border: solid #888888 1px;
}

.friendDiv:hover {
    background-color: #b86363;
}

.friendPFPDiv {
    width: 12vh;
    height: 12vh;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 2vw;
    cursor: pointer;
}

.friendProfilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.friendName {
    font-size: 3.5vw;
    cursor: pointer;
}

.friendName:hover {
    transform: scale(1.05);
}

.friendPFPDiv:hover {
    transform: scale(1.05);
}

.friendLinkHolder {
    width: 40%;
    display: flex;
    justify-content: center;
}

.friendsLink {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    margin-top: 2vw;
    padding: 1vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    border-radius: 3vw;
}

.friendsLink:hover {
    transform: scale(1.05);
}

.kontaktInfoHolder {
    flex-direction: row;
    width: 80%;
    padding-left: 15vw;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.kontaktWrapper {
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
}

.kontaktTitle {
    font-size: 3vw;
    color: #b86363;
    margin: 3vw 4vw;
    width: 50%;
    padding: 1vw;
}

.emailInputs {
    background-color: #2D3142;
    color: #b86363;
    border: none;
    width: 40%;

    margin: 2%;
    margin-top: 0%;
    border: gray 1px solid;
    padding: 1%;
}

.emailInputs::placeholder {
    color: #b86363;
}

.emailInputs:focus {
    outline: none;
    scale: 1.01;
    border: black 1px solid;
    color: #b86363;
}

.emailInputs::after,
.emailInputs::before {
    border: none;
}

.contactTelef {
    width: 86.2%;
}

#EmailText {
    width: 86.2%;
    color: #b86363;
    border: solid gray 1px;
    padding: 1%;
    margin: 0% 2%;
    background-color: #2D3142;

}

#EmailText:focus {
    outline: none;
    scale: 1.01;
    border: black 1px solid;
}

#EmailText::placeholder {
    color: #b86363;
}

#EmailSend {
    background: none;
    font-size: 1.5vw;
    border: solid gray 1px;
    border-radius: 1vw;
    padding: .6vw;
    text-align: start;
    margin: 2%;
    color: #b86363;
    cursor: pointer;
}

.credits {
    color: white;
    font-size: .7vw;
    margin: 5%;
    padding: 0%;
}

@media screen and (max-width: 600px) {
    .header {
        padding-top: 1vh;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10vh;
        flex-direction: column;
        align-items: center;
    }
    .navBar {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .navLink {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        padding: 2vw;
    }
    .credits{
        font-size: 3vw;
        margin: 0%;
        margin-top: 1vw;
    }

     .ContactsHolder{
        width: 100%;
        margin: 0%;
        padding: 0%;
        touch-action: none;
     }
     .contactDiv{
        padding: 0%;
        width: 30%;
        height: 89vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        touch-action: none;
     }
     .contactTitle{
        font-size: 2vw;
     }
     .firstContact{
        margin: 0%;
     }
     .messageHolder{
        position: absolute;
        height: 89vh;
        width: 70%;
        padding: 0vw;
        margin: 0%;
        background-color: #131313;
        touch-action: none;
        z-index: 10;
     }
     .TextMessage{
        height: 10vh;
        touch-action: none;
     }
     #personalMessage{
        height: 10vh;
        touch-action: none;
     }
     #sendIcon{
        font-size: 10vw;

     }
     .closeArrow, .Arrow{
        color: white;
        display: block;
        height: 5vh;
        margin: 0%;
        padding: 0%;
        width: 10vw;
        position: absolute;
        top: 1%;
        left: 3%;
        font-size: 8vw;
        transition: .2s;
    }
     .messageText{
        font-size: 3vw;
     }
     .messageSender{
        font-size: 3.5vw;
     }

     .userMessagePFP{
        width: 2vh;
        height: 2vh;
     }
}